

.main-container {
    overflow: hidden;
    min-height: 80vh;
    margin-right: 200px;
    margin-left: 200px;
}

#container {
    width: 650px;
    float: left;
    display: inline-block;
}

.card {
    display: flex;
    cursor: pointer;
    float: left;
    position: relative;
    align-items: center;
    width: 600px;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
    float: left;

    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.quantity {
    width: 25px;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
}

.decrease-quantity,
.increase-quantity {
    width: 25px;
    height: 25px;
    font-weight: bold;
    margin: 8px 0px 0px 0px;
    padding: 0px;
    cursor: pointer;
    border: none;
    background-color: lightgray;
}

    .card-image {
        width: 150px;
        height: auto;
        margin-right: 10px;
        border-radius: 4px;
    }

.card-content {
    flex-grow: 1;
}

.card-title {
    margin-top: 0;
}

.card-description {
    margin-bottom: 0;
    text-align: start;
}

.card-price {
    color: #6bd770;
    display: block;
    text-align: start;
}

.card-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown.open .dropdown-content {
    display: block;

}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* Set a higher z-index to ensure the alert appears above other elements */
}

/* CSS for the alert box */
.alert-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Additional styles for buttons (optional) */
button {
    cursor: pointer;
    margin: 5px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#empty-list-message {
    text-align: center;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty-icon {
    font-size: 64px;
}

i {
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
    color: rgb(171, 38, 38);
}

i:hover {
    transform: scale(1.2);
}

.button-container {
    display: flex;
    justify-content: center;
}

#closeAlertButton {
    background-color: #ebe6df;
    border-radius: 4px;
    margin: 20px;
    scale: 1.2;
}

#deleteAlertButton {
    background-color: #c43829;
    color: #ebe6df;
    border-radius: 4px;
    margin: 20px;
    scale: 1.2;
}

#delete-card{
    background-color: transparent;
}
#delete-card:hover{
    background-color: transparent;
}


p {
    text-align: left;
}

.order-summary {
    border: 2px solid #9b9898;
    float: left;
    border-radius: 8px;
    padding: 50px;
    margin: 20px;
    width: 250px;
    height: 150px;
    align-items: center;
}
.paragraph{
    text-align: center;
}

h2 {
    color: orange;
    text-align: center;
}

#purchase-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: block; 
    margin: auto;

}


#item-count,
#total-price {
    font-weight: bold;
}


@media (max-width: 768px) {
    .card {
        width: 100%;
        /* Set the card width to 100% of the screen on smaller devices */
    }
}