    /* CSS code */

    ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f1f1f1;
    }

    ul.nav li {
      display: inline;
    }

    ul.nav li a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: #000;
    }

    ul.nav li a:hover {
      background-color: #de1f1f;
    }

    ul a:hover {
      color: rgb(255, 157, 0);
    }

    body.dark-mode {
      background-color: #ffffff;
    }

    .icon {
      cursor: pointer;
    }

    card card:hover {
      background-color: aqua;
    }

    li:hover {
      cursor: pointer;
    }

    .no-padding {
      width: 100% !important;
      height: 30% !important;
      padding: 0 0 100 10 !important;
      margin: 0 0 100 10 !important;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .scrollable-element {
      width: 200px;
      height: 300px;
      overflow: auto;
    }

    .card {
      border: 1px solid #ccc;
      cursor: pointer;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      transition: background-color 0.3s ease;
      width: 100%;

      display: inline-block;
      overflow: hidden;
      position: relative;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease;

    }

    .card:hover {
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }

    .card-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card-content img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* Preserve aspect ratio and crop image to fill the container */
      transform-origin: 0 0;
    }

    .child-card {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .scroll-button {
      position: absolute;
      top: 50%;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      transform: translateY(-50%);
      padding: 8px;
      scale: 2;
      background-color: #e8dfdf;
      border: none;
      cursor: pointer;
      margin: 20px;
    }


    .prev-button {
      left: 0;
    }

    .next-button {
      right: 0;
    }

    body {
      padding: 0;
      box-sizing: border-box;
      margin: 0;
      background-color: rgb(244, 238, 238);
    }

    title {
      color: blue;
    }

    div {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      background-color: rgb(255, 255, 255);
    }

    .no-strike {
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      padding: 12px;
      color: black;
      letter-spacing: 0px;
    }

    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }

    .fa {
      font-size: 5em;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
    }

    .button-clicked {
      background-color: yellow;
      color: bisque;
    }

    .custom-cursor {
      cursor: pointer;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }


    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-link {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }

    .logo {
      display: block;
      max-width: 200px;
      /* Adjust the width as needed */
      height: auto;
    }

    .main-container {
      margin-left: 150px;
      margin-right: 150px;
      min-height: 80vh;
    }

    .main-container::dark-mode {
      background-color: #ffffff !important;
      color: #000 !important;
    }


    .scrollable-container {
      width: 300px;
      /* Adjust the width to your desired value */
      overflow-x: auto;
      white-space: nowrap;
    }

    .scrollable-content {
      display: inline-block;
    }


    .data {
      width: 700px;
      background-color: antiquewhite;
      height: 400px;
      color: #000;
    }

    #navigation-placeholder {
      z-index: 1;
    }

    ::selection {
      color: white;
      background-color: #000;
    }

    #box {
      /* white-space: nowrap;
      overflow-x: auto;
      cursor: grab;
      overflow: hidden;
      margin-bottom: 50px;
      padding: 50px;
      #main-card-container:active {
        cursor: grabbing;
      }  */
      white-space: nowrap;
      overflow-x: scroll;
      cursor: grab;
      overflow: hidden;
      margin-bottom: 50px;
      padding: 20px;
    }

    #main-card-container {
      scale: 0.9;
      margin: auto;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      width: 100%;
      display: inline-block;
      overflow: hidden;
      position: relative;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    * {
      box-sizing: border-box;
    }

    /* Slideshow container */
    .slideshow-container {
      padding: 20px;
      background-color: transparent !important;
      max-width: 1000px;
      position: relative;
      margin: auto;
      background-color: #fff !important;
      color: white;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: rgb(253, 251, 251);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      position: fixed
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(213, 45, 45, 0.8);
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    /* Example styles for the header */
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
    }

    h1 {
      margin: 0;
    }

    span {
      cursor: pointer;
    }